/* Globals */

body {
  background: #fff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: Cabin, sans-serif;
}
p,
span {
  font-family: Lora, sans-serif;
   color: #7d8285;
  font-size: 16px;
}
i {
  color: #1485ee;
}
button {
  background-color: #00a991;
  width: 170px;
  height: 50px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 18px;
  margin: 0;
}
/* Links */

.links {
  transform: scale(0.85);
  cursor: pointer;
}

/* Utilities */
.text-neutral {
  color: #5f738c;
}
.bg-neutral {
  background: #e8edf1;
}
.header {
  color: #252a31;
  padding: 0px;
}
.p-40 {
  padding: 40px;
}
.align-center {
  align-self: center;
}
.m-20 {
  margin: 20px;
}
.p-120 {
  padding: 120px;
}
.scale-35 {
  transform: scale(3.5);
}
.scale-25 {
  transform: scale(2.5);
}
.my-20 {
  margin: 20px 0;
}
/* Charts  */
#container {
  display: flex;
  flex-direction: column;
  padding: 120px;
}
@media screen and (min-width: 1200px) {
  #container {
    flex-direction: row;
  }
}
#container #frase p {
  font-size: 40px;
  color: #000;
  margin: 0;
}
#frase {
  align-self: center;
}
#frase p {
  max-width: 470px;
  text-align: center;
}

#language-toggle {
  color: #ffffff; /* Color de texto */
  background-color: #007bff; /* Color de fondo */
  border-radius: 5px; /* Bordes redondeados */
  padding: 5px 10px; /* Espaciado interno */
  font-weight: bold; /* Fuente en negrita */
  transition: background-color 0.3s, color 0.3s; /* Transición suave para hover */
}

#language-toggle:hover {
  color: #007bff; /* Color de texto al pasar el ratón por encima */
  background-color: #ffffff; /* Color de fondo al pasar el ratón por encima */
  text-decoration: none; /* Eliminar el subrayado del enlace */
}

.video-container {
  max-width: 800px; /* Establecer un ancho máximo */
  margin: 0 auto; /* Centrar el contenedor */
  padding-top: 40px; /* Espacio en la parte superior */
  padding-bottom: 40px; /* Espacio en la parte inferior */
}

.video-container iframe {
  width: 100%; /* El video ocupa todo el ancho del contenedor */
  height: 450px; /* Altura fija para pantallas grandes */
}

@media screen and (max-width: 768px) {
  .video-container iframe {
    height: 300px; /* Altura ajustada para pantallas más pequeñas */
  }
}

#about-product .section-heading {
  font-size: 28px; /* Tamaño de la fuente */
  margin-bottom: 20px; /* Espacio debajo del título */
  text-align: center; /* Alinear el texto al centro */
  color: #333; /* Color del texto */
}

.video-container {
  transition: all 0.3s ease-in-out;
}

.video-container:hover {
  transform: scale(1.05); /* Ligeramente más grande al pasar el ratón por encima */
}
